h1, h2 {
    font-family: 'Roboto';
    font-weight: 500;
}

bar {
    background-color: #333333;
    color: white;
    height: 40px;
    display: block;
    margin: none;
}

bar p {
    position: absolute;
    vertical-align: middle;
    line-height: 40px;  
    margin-left: 40px;
    font-size: 20px;
}

#logo {
    position: relative;
	float:left;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: red;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid grey;
    border-radius: 4px;
}

#plus {
    position: absolute;
    top: -10px;
    left: 5px;
}

#searchlogo {
    width:40px;
    height:40px;
    padding:6px;
    margin-top:-2px;
}

#searchListing {
    top: 65px;
    width: 70%;
}

#content {
    height: 1670px;
    background-color:#EFEFEF;
}

header  {
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: center;
    color: black;
    
}

header > h1 {
    padding: 10px;
    font-weight: 100;
}

header > p {
    position: absolute;
    top: 50%;
    padding: 10px;
}

header > img  {
    position: absolute;
    top:0;
    z-index: -1;
    height: auto;
    width: 100vw;
}

header .input-group {
    top: 70%;
}

.btn-default {
    width: 70px;
}

#listing {
    height: 100px;
}

header :not(img):not(.input-group *)   {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: black;
}

header h1 {
    top: 90px;
    font-size: 150px;
}

header p {
    top: 110px;
    font-size: 33px;
    font-weight: 800;
}

.input-group {
    top: 350px;
    width: 60%;
}

.input-group * {
    height: 50px;
    font-size: 20px;
}

#category div {
    height: 50px;
}

#dropdowns div {
    height: 70px;
}

#category div p{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;    
}

.col-sm-4 {
    background-color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
}

.col-sm-4:nth-child(2) {
    background-color: #EFEFEF;
}

#dropdowns {
    background-color:#EFEFEF;
}

.dropdown button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    font-size: 20px
    
}

.dropdown .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

#loading {
    border: 16px solid lightgrey; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.listing {
    float: left;
    width: 74%;
    height: 300px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.listing * {
    position: absolute;
    width: auto;
}

.listing p:nth-child(1) {
    font-size: 50px;
}

.listing p:nth-child(2) {
    margin-top: 60px;
    font-size: 30px;
}

.listing p:nth-child(3) {
    margin-top: 110px;
    font-size: 20px;
}

.listing p:nth-child(4) {
    margin-top: 150px;
    font-size: 15px;
}

.listing p:nth-child(5) {
    margin-top: 180px;
    font-size: 35px;
}

.listing p:nth-child(6) {
    margin-top: 240px;
    font-size: 20px;
    color: grey;
}

.listing button {
    position:
    font-size: 20px;
}

#single > button {
    position: absolute;
    top: 640px;
    font-size: 17px;
    min-width: 150px
}

#single > button:nth-of-type(2) {right: 310px}
#single > button:nth-of-type(3) {right: 60px;}

.listing img {
    float: right;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
}

header h1, header p {
    position: absolute;
}

#single {
    position: absolute;
    height: 700px;
    padding: 40px;
    min-width: 900px;
    margin-top: 30px
}

#singleConfirm {
    position: absolute;
    height: calc(100% - 40px);
    width: 95%;
    padding: 40px;
    margin-left: 0px;
}

#singleConfirm button {
    width: 100px;
    font-weight: bold;
}

#singleConfirm input[type="textarea"] {
    width: 80%;
}

#radioButtons {
    text-align: left;
    padding-left: 10%;
    font-size: 20px;
}

#btnNext {
    float: right;
}

form > div {
    border: 1px solid #BBBBBB;
    box-shadow: 1px 2px 1px #DDDDDD;
    text-align: center;
    padding-bottom: 20px;
}

#single img {
    height: 400px;
    width: 400px;
    background-size: 100%;
}

#reviews {
    position: absolute;
    background-color: white;
    height: auto;
    width: 96%;
    top: 880px;
    padding: 30px;
    margin-left: 50px;
}

#reviews p {
    font-size: 20px;
}

table {
    margin-top: 30px;
    position: absolute;
    left: calc(50% - 216px);
}

td {
    padding: 30px;
}

td:first-child {
    border-right: 3px solid #DDDDDD;
}

.listing:last-child {
    margin-bottom: 50px;
}

footer {
    height: 200px;
}

#doctorContainer > div:not(#loading) {
    margin-left: 2%;
    
    border: 1px solid #DDDDDD;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.13), 1px 3px 3px rgba(0,0,0,0.13);
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 960px;
        width: 20%;
        float: left;
      }

      .mapListing {
        float: right;
      }

.parallax-window {
    height: 540px;
    width: 100vw;
    min-height: 540px;
    background: transparent;
}

#times {
    top: 370px;
    position:absolute;
    width: 382px;
}

#times * {
    position: static;
}

#times button {
    width: 80px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    
}

.col-sm-1 {
    padding: 0;
}

.review:first-of-type {
    border-top: 1px solid lightgrey;
}

.review {
    margin-left: 40px;
    border-bottom: 1px solid lightgrey;
}


.review p:first-of-type {
    font-weight: bold;
    font-size: 17px;
}

.review p:nth-of-type(3) {
    font-style: italic;
}

fieldset {
    font-size: 20px;
}

textarea {
    height: 200px;
    width: 500px;
}

#similar {
    position: absolute;
    top: 2100px;
    width: calc(100% - 75px);
    height: 1100px;
    background-color: white;
    padding: 40px;
}

#similar h1 {
    padding-bottom: 30px;
    font-size: 45px;
    text-align: center;
}

#similar .listing {
    border: 1px solid #DDDDDD;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.13), 1px 3px 3px rgba(0,0,0,0.13);
    margin-bottom: 20px;
    margin-left: 13%;
    min-width: 687px;
}

#finalConfirm {
    position: absolute;
    top: 390px;
}

.signin {
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}

.signin div{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}

#welcomeMsg, #signout {
	display: none;
	margin-left: 15px;
}

